/* ----- General ----- */

@font-face {
   font-family: "Levenim_MT";
   src: url("Levenim_MT.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Lato";
   src: url("Lato-Regular.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
}

@keyframes blink {
   0%,
   100% {
      opacity: 1;
   }
   50% {
      opacity: 0;
   }
}

@keyframes slide {
   0% {
      transform: translateX(0);
   }
   100% {
      transform: translateX(700%);
   }
}

@keyframes shake {
   0%,
   100% {
      transform: translate(1px, 1px) rotate(0deg);
   }
   10%,
   50%,
   90% {
      transform: translate(-1px, -2px) rotate(-1deg);
   }
   20%,
   60% {
      transform: translate(-3px, 0px) rotate(1deg);
   }
   30%,
   70% {
      transform: translate(3px, 2px) rotate(0deg);
   }
   40%,
   80% {
      transform: translate(1px, -1px) rotate(1deg);
   }
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
}

body {
   font-family: "Levenim_MT", fallback_font_family, sans-serif;
   background-color: rgb(240, 250, 250);
   color: rgb(22, 22, 22);
   scroll-behavior: smooth;
}

a {
   color: #0b89a8;
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

h1 {
   font-size: 3.5rem;
   font-weight: 300;
}

h2 {
   font-size: 3rem;
   font-weight: 300;
}

h3 {
   font-size: 2.5rem;
   font-weight: 300;
}

h4 {
   font-size: 2rem;
   font-weight: 300;
}

h5 {
   font-size: 1.75rem;
   font-weight: 300;
}
h6 {
   font-size: 1.5rem;
   font-weight: 300;
}

p {
   font-size: 20px;
}

/* ----- Header ----- */

header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-weight: bold;
   background-color: rgb(210, 230, 230);
   user-select: none;
   outline: none;
   z-index: 1;
}

header img {
   height: 75px;
   margin: -5px 20px -15px 20px;
}

header a {
   color: inherit;
   margin: 0 10px;
}

.alt_header {
   background-color: transparent;
   color: rgb(210, 230, 230);
   transition: 0.5s ease;
}

.new_alt_header {
   background-color: rgb(210, 230, 230);
   color: rgb(22, 22, 22);
   transition: 0.5s ease;
}

/* ----- Footer ----- */

footer {
   position: relative;
   bottom: 0;
   width: 100%;
   display: grid;
   place-content: center;
   background-color: rgb(210, 230, 230);
   grid-template-columns: 5% 65% 10% 10%;
   grid-template-rows: 4rem 4rem 4rem 4rem 2.5rem;
   padding-top: 2.5rem;
   user-select: none;
   outline: none;
}

footer img {
   height: 100px;
   margin: -10px 25px;
}

footer a {
   color: inherit;
}

#g1 {
   grid-area: 1 / 1 / 1 / 1;
}

#g2 {
   grid-area: 1 / 3 / 1 / 3;
}

#g3 {
   grid-area: 2 / 3 / 2 / 3;
}

#g4 {
   grid-area: 3 / 3 / 3 / 3;
}

#g5 {
   grid-area: 4 / 3 / 4 / 3;
}

#g6 {
   grid-area: 1 / 4 / 1 / 4;
}

#g7 {
   grid-area: 2 / 4 / 2 / 4;
}

#g8 {
   grid-area: 3 / 4 / 3 / 4;
}

#g9 {
   grid-area: 4 / 4 / 4 / 4;
}

#g10 {
   grid-area: 5 / 1 / 5 / 4;
}

footer p {
   font-size: 0.65rem;
   text-align: center;
   padding: 10px 0 0 200px;
}

/* ----- Home Page ----- */

#welcome {
   width: 100%;
   position: relative;
   user-select: none;
   outline: none;
}

#welcome_text {
   user-select: text;
}

.text-container {
   position: absolute;
   top: 350px;
   left: 50%;
   display: flex;
   text-align: center;
   user-select: none;
   outline: none;
   flex-wrap: wrap;
   max-width: 625px;
   transform: translate(-50%, -50%);
   color: rgb(210, 230, 230);
}

.cursor {
   margin-left: 5px;
   animation: blink 0.75s infinite;
}

.introductory {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 35px;
   margin-bottom: 75px;
   font-size: 20px;
}

.introductory * {
   margin: 30px;
}

.alt_text {
   background-color: #02596e;
   color: #f9f9f9;
   transform: skew(-10deg);
   display: inline-block;
   margin-left: 10px;
   padding: 5px 10px;
   box-shadow: 0 0 2px rgb(30, 30, 30);
}

#slider {
   height: 17.5rem;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   background: url("./Assets/abstactaBG.svg");
   background-color: #02596e;
   filter: brightness(0.8);
   border: 5px solid rgb(10, 10, 10);
   background-size: cover;
   background-position: center;
   overflow: hidden;
   user-select: none;
   outline: none;
}

img[alt="Grunge"] {
   position: absolute;
   object-fit: cover;
   object-position: center;
   opacity: 0.2;
   z-index: 1;
}

img[alt="All YT Thumbnail"] {
   border: 1px solid rgb(30, 30, 30);
   box-shadow: 0 0 5px rgb(10, 10, 10);
   animation: slide 80s infinite linear;
   border-radius: 10px;
   margin: 20px;
}

section {
   opacity: 0;
   transform: translateY(50px);
   transition: opacity 2s ease, transform 1s ease;
}

section.activated {
   opacity: 1;
   transform: translateY(0);
}

.welcome {
   display: grid;
   margin: 10rem 15rem;
   grid-template-columns: 50% 50%;
   gap: 2.5rem;
}

.welcome img {
   display: flex;
   justify-self: center;
   height: 30rem;
   border-radius: 20px;
   border: 2px solid #02596e;
   grid-area: 1 / 1 / 1 / 1;
}

.welcome img:hover {
   scale: 1.005;
   animation: shake 4s infinite;
}

.welcome div {
   display: flex;
   justify-content: center;
   align-items: start;
   flex-direction: column;
   row-gap: 3rem;
   grid-area: 1 / 2 / 1 / 2;
}

.welcome h1 {
   font-size: 35px;
}

/* ----- Dashboard Page ----- */

#videolist {
   display: flex;
   flex-direction: column;
   margin: 7.5rem 10rem;
   gap: 3rem;
}

#selecters {
   display: flex;
   justify-content: space-evenly;
   font-size: 1.25rem;
}

label {
   margin-right: 1rem;
}

select {
   padding: 5px;
   font-size: 1rem;
   color: rgb(30, 30, 30);
   background-color: rgb(220, 240, 240);
   border: #303030 solid 1px;
   border-radius: 5px;
}

#allvideos {
   display: flex;
   justify-content: center;
   row-gap: 4rem;
   column-gap: 1rem;
   flex-wrap: wrap;
}

.video {
   display: grid;
   grid-template-rows: 210px 150px;
   grid-template-columns: 60px 300px;
   font-family: "Lato", sans-serif;
   transition: 0.5s ease;
   border-radius: 20px;
}

.video:hover {
   scale: 1.0125;
   cursor: pointer;
   background-color: rgb(190, 215, 215);
   transition: 0.5s ease;
   text-decoration: none;
}

.yt_thumbnail {
   display: flex;
   align-self: center;
   justify-self: center;
   width: 300px;
   border-radius: 5px;
   grid-area: 1 / 1 / 1 / 3;
}

.duration {
   position: absolute;
   margin-top: 9.5rem;
   margin-left: 17rem;
   font-size: 14px;
   grid-area: 1 / 1 / 1 / 3;
   background-color: rgba(0, 0, 0, 0.75);
   color: rgb(210, 230, 230);
   border-radius: 2px;
   padding: 3px;
}

.yt_channel {
   display: flex;
   justify-self: center;
   border-radius: 50%;
   width: 40px;
   grid-area: 2 / 1 / 2 / 1;
}

.yt_info {
   min-width: 250px;
   color: rgb(22, 22, 22) !important;
   grid-area: 2 / 2 / 2 / 3;
}

.yt_info * {
   padding: 5px 0;
}

/* ----- Api Page ----- */

#partition {
   position: fixed;
   display: flex;
   flex-direction: column;
   margin: 3rem 15% 0 7.5%;
   color: #303030;
   gap: 1rem;
}

#api {
   display: flex;
   flex-direction: column;
   margin: 7.5rem 15% 7.5rem 25%;
   gap: 2rem;
}

ul {
   margin-left: 3rem;
}

ul * {
   padding: 5px 0;
}

.url {
   padding: 10px;
   max-width: 50%;
   border-radius: 15px;
   color: #c9ced6;
   background-color: #282c33;
   font-family: "Droid Sans Mono", monospace;
   font-size: 1.125rem;
}

.code {
   padding: 10px;
   max-width: 75%;
   border-radius: 20px;
   border: 1px solid #abb2bf;
   color: #abb2bf;
   background-color: #282c33;
   font-family: "Droid Sans Mono", monospace;
   font-size: 1rem;
}

.output {
   padding: 10px;
   max-width: 75%;
   border-radius: 20px;
   border: 1px solid #abb2bf;
   color: #abb2bf;
   background-color: #282c33;
   font-family: "Droid Sans Mono", monospace;
   font-size: 1rem;
}

#buttons {
   display: flex;
   margin: 0 0 -30px 30px;
   gap: 3px;
}

.programmingLanguage {
   background-color: #282c33;
   color: #c9ced6;
   border: none;
   border-radius: 5px;
   font-size: 1.375rem;
   padding: 13px;
}

.programmingLanguage:hover {
   cursor: pointer;
}

.selected {
   background-color: #c9ced6;
   color: #282c33;
}

.comment {
   color: #797a7c;
}

.keyword {
   color: #c778dd;
}

.function {
   color: #62aeef;
}

.operator {
   color: #55b6c2;
}

.int,
.class,
.const,
.import {
   color: #e5c07a;
}

.var {
   color: #e06b74;
}

.str {
   color: #98c179;
}

/* ----- Email & SMS Page ----- */

.decoration {
   position: absolute;
   filter: invert(15%);
   top: 35vh;
   height: 250px;
   z-index: -1;
}

.right {
   right: 30px;
   rotate: -15deg;
}

.left {
   left: 30px;
   rotate: 15deg;
}

.communication {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   flex-direction: column;
   margin: 7.5rem 15rem;
   gap: 5rem;
}

.subscribe {
   background-color: #0b89a8;
   color: rgb(230, 250, 250);
   border-radius: 30px 10px 20px 5px;
   box-shadow: 5px 5px 0 rgb(30, 30, 30);
   transition: 0.5s ease;
   border: none;
   font-size: 2rem;
   padding: 20px;
}

.subscribe:hover {
   cursor: pointer;
   scale: 1.075;
   background-color: #157a94;
   transition: 0.5s ease;
}

/* ----- Contact Page ----- */

.submitbtn {
   width: 75%;
   padding: 10px;
   margin-top: 50px;
   transition: 0.5s ease;
   font-size: 1.25rem;
   background-color: #0b89a8;
   color: rgb(230, 250, 250);
   border-radius: 5px;
   border: none;
}

.submitbtn:hover {
   cursor: pointer;
   background-color: #157a94;
   transition: 0.5s ease;
}

form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   row-gap: 3rem;
   margin: 3rem 5rem;
}

.form-group {
   display: flex;
   align-items: flex-start;
   width: fit-content;
   column-gap: 5rem;
}

.form-group div {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 20rem;
}

.form-group label {
   font-size: 1.35rem;
   font-weight: bold;
}

.form-group small {
   font-size: 0.85rem;
}

input,
textarea {
   font-family: "Lato", sans-serif;
   color: #303030;
   font-size: 20px;
   min-width: 50rem;
   background-color: rgb(250, 250, 250);
   border: 1px solid #a3a5a8;
   border-radius: 5px;
}

input {
   min-height: 3rem;
   padding: 0 5px;
}

textarea {
   padding: 5px;
   min-height: 20rem;
   resize: none;
}

/* ----- Explaination Page ----- */

#explaination {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   flex-direction: column;
   margin: 7.5rem 15rem;
   gap: 5rem;
}

/* ----- About Me  & Privacy Policy Page ----- */

.plain_text {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 7.5rem 25rem;
   gap: 25px;
}
