{% extends "base.html" %} {% block title %}
<title>Byte Picks - DashBoard</title>
{% endblock %} {% block content %}
<p>Sort Video by:</p>
<button value="true" name="daily" onclick="">Daily</button>
<button value="false" name="weekly" onclick="">Weekly</button>
<button value="false" name="monthly" onclick="">Monthly</button>
<button value="false" name="yearly" onclick="">Yearly</button>
{% for video_id, video in videos.items() %}
<div class="video">
   <a href="{{ video.VideoUrl }}">
      <img class="yt_thumbnail" alt="YT Thumbnail" src="{{ video.Thumbnail }}" />
      <p class="yt_title">{{ video.VideoTitle }}</p>
   </a>
   <a href="{{ video.ChannelUrl }}"><img class="yt_channel" alt="YT Channel" src="{{ video.ChannelIcon }}" /></a>
</div>
{% endfor %}{% endblock %}
