{% extends "base.html" %} {% block title %}
<title>Byte Picks - Email</title>
{% endblock %} {% block content %}
<img class="decoration left" src="{{ url_for('static', filename='Assets/email.svg') }}" alt="email"/>
<img class="decoration right" src="{{ url_for('static', filename='Assets/open.svg') }}" alt="open email"/>
<main class="communication">
   <h2>Get the Best Tech Updates Delivered Straight to Your Inbox</h2>
   <h6>Stay ahead of the curve with Byte Picks' curated tech content sent directly to your email. Receive the latest trends and must-watch YouTube videos related to technology, for free.</h6>
   <button class="subscribe">Subscribe Via Email</button>
   <h5>Alternatively, you can opt for <a href="{{ url_for('sms') }}">SMS notifications</a> or just visit <a href="{{ url_for('dashboard') }}">our dashboard.</a></h5>
   <h6>Experience convenience with Byte Picks' email subscriptions. Get timely updates without having to search for the best content. It's all delivered right to your inbox!</h6>
</main>
{% endblock %}
