{% extends "base.html" %} {% block title %}
<title>Byte Picks - Privacy Policy</title>
{% endblock %} {% block content %}
<h1>Hey There! Let's Talk Privacy at Byte Picks</h1>
<p>Thanks for stopping by! At Byte Picks, we like to keep things real and straightforward, especially when it comes to how we handle your info. Let's break it down for you.</p>

<h2>Your Data? We've Got Your Back</h2>
<p>
   We're pretty chill when it comes to your data. First off, we're not in the business of selling or trading it to anyone. Nope, not our thing. The only thing we might adjust is the language, just to make sure you're getting the Byte Picks experience
   in a way that's easy and comfortable for you.
</p>

<h2>Why Do We Collect Info Anyway?</h2>
<p>
   We want you to know that we're all about minimalism when it comes to data collection. Unless you've specifically opted in for The SMS or Email subscriptions, we don't collect any additional information. Your privacy and trust are paramount to us,
   and we're committed to keeping things as straightforward as possible.
</p>

<h2>Open Book: Our Code's on GitHub</h2>
<p>
   Transparency is key, right? That's why we put <a href="https://RedeemedSpoon.github.com/BytePicks">our code</a> out there on GitHub. Feel free to take a look! We're all about being open and upfront, so you know exactly what's going on behind the
   scenes. Trust is essential, and we want to earn yours fair and square.
</p>

<h2>Keeping Things Secure</h2>
<p>We take security seriously, no doubt about it. Your info, especially any sensitive bits, gets the VIP treatment with top-notch encryption and secure storage. We're talking Fort Knox-level security here. Your peace of mind? That's our priority.</p>

<h2>Your Voice Matters</h2>
<p>We're all ears! If you've got questions, feedback, or just want to chat about our Privacy Policy, hit us up. Your thoughts help us stay on track and ensure we're doing right by you. We're in this together, after all.</p>

<h2>We're Committed to Doing Right</h2>
<p>
   At the end of the day, we're all about doing right by our users. Our Privacy Policy reflects our commitment to honesty, transparency, and treating you with the respect you deserve. We're not perfect, but we're always striving to be better,
   especially when it comes to safeguarding your privacy.
</p>

<p>If you have thoughts, suggestions, or just want to connect, know that you can also <a href="{{ url_for('contact') }}">contact us</a>. Thanks for being an essential part of our community!</p>
{% endblock %}
